@import 'reset-css';
@import 'variables';
@import 'media-queries';
@import 'typography';
@import 'forms';
@import 'containers';

body,
html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.text-center {
  text-align: center;
}

a {
  color: $color-body;

  &:hover {
    text-decoration: underline;
  }
}