.section {
  height: rem(100px);
  display: flex;
  align-items: center;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    flex-basis: 100%;
    margin: 20px;
  }
}